
/* APP.JS */
main {
    min-height: 80vh;
}

/* RATING.JS */
h3 {
   padding: 1rem 0; 
}

h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.btn-block {
    width: 100%;
}

.fa-paypal {
   margin: 0 10px;
}

.fa-x {
    color: rgb(221, 81, 81);
    font-size: 1.2rem;
}
